<a href="/items/{{ item.pid }}" class="group brightness-75 hover:brightness-100 transition duration-300">
  <div class="break-inside-avoid-column mb-10">
    <p class="leading-snug text-2xl animated-underline">{{ item.label | default:"Lorem ipsum dolor sit amet consectetur adipiscing elit." }}</p>
    <p class="leading-snug py-4">{{ item.description }}</p>
    <div class="my-2 overflow-hidden max-h-600px] min-h-[200px] rounded-md shadow-md flex items-stretch">
      <img src="/files/{{ item.pid }}.jpg" alt="{{ item.label }}" class="block w-full h-full max-h-[800px] min-h-[200px] transition duration-600 ease-in-out transform group-hover:scale-103 object-cover"/>
    </div>
  </div>
</a>