<div class="px-6 py-12 gap-8 sm:gap-12 md:gap-24 flex flex-row md:flex-nowrap flex-wrap-reverse items-center justify-between bg-background-alt">
  <div class="md:basis-1/2 text-5xl">
    <h1 class="">{{ title }}</h1>
    <div class="py-6 mt-6 text-2xl [&_a]:underline [&_a]:hover:no-underline">
      {{ description | markdown }}
    </div>
  </div>
  <div class="md:basis-1/2 w-full">
    {% if img_link %}<a href="{{ img_link }}">{% endif %}
      <img src="{{ img }}" alt="{{ img_alt }}" class="rounded-md shadow-md w-full max-h-[50vh] object-cover object-top"/>
      <div class="py-2">{{ img_caption }}</div>
    {% if img_link %}</a>{% endif %}
  </div>
</div>