<nav class="flex md:flex-nowrap flex-wrap justify-between p-6">
  <a class="text-xl" href="/">
    {{ site.title }}
  </a>
  <div class="flex flex-row flex-nowrap">
    {% for item in site.menu %}
      {% if item.sub %}
      <div class="group relative dropdown cursor-pointer text-left {% unless forloop.last %}mr-6{% endunless %}">
        <button id="dropdown-button" class="inline-flex w-full cursor-pointer link">
          {{ item.title }}
        </button>
        <div class="group-hover:block absolute left-0 dropdown-menu hidden h-auto w-full">
          <ul class="top-0 py-1 bg-white w-full">
            {% for sub in item.sub %}
            <li class="py-1 w-full"><a class="block" href="{{ sub.link }}">{{ sub.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <div class="relative inline-block text-left {% unless forloop.last %}mr-6{% endunless %}">
        <a class="inline-flex w-full cursor-pointer link" href="{{ item.link }}">
          {{ item.title }}
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</nav>

