<nav class="flex md:flex-nowrap flex-wrap justify-between p-6 bg-background-alt">
  <div>
    <a class="text-xl animated-underline" href="/">
      {{ site.title }}
    </a>
  </div>
  <div class="flex flex-row flex-nowrap">
    {% for item in site.menu %}
      {% if item.sub %}
      <div class="min-w-18 group dropdown cursor-pointer text-left {% unless forloop.last %}mr-6{% endunless %}">
        <button class="text-left cursor-pointer animated-underline" aria-haspopup="true">
          {{ item.title }}
        </button>
        <div class="dropdown-menu">
          <ul class="py-1 relative" role="menu">
            {% for sub in item.sub %}
            <li class="py-1 relative" role="none"><a role="menuitem" href="{{ sub.link }}">{{ sub.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <div class="min-w-18 relative inline-block text-left {% unless forloop.last %}mr-6{% endunless %}">
        <a class="inline-flex w-fit cursor-pointer animated-underline" href="{{ item.link }}">
          {{ item.title }}
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</nav>

